body {
  box-sizing : border-box;
}

main {
  position: relative;
  overflow: hidden;
}

header {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav_bg {
  position: fixed;
  background:  #ffd700;
  border-radius: 50%;
  width: 28vw;
  height: 28vw;
  right: -6vw;
  top: -6vw;
  z-index: 10;
  transition: .7s ease;
}

.nav_bg-open {
  width: 500vw;
  height: 500vw;
  top: -250vw;
  right: -250vw;
  transition: .7s ease;
}

.nav-toggle span {
  display: inline-block;
  transition: all .4s;
}

.nav-toggle {
  z-index: 15;
  display: block;
  position: fixed;
  right: 3.5vw;
  top: 5.6vw;
  margin: auto auto;
  width: 12vw;
  cursor: pointer;
  div {
    height: 32px;
  }

  span {
    position: absolute;
    width: 100%;
    height: 4px;
    background: #fff;
    border-radius: 4px;

    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 14px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }

  .active span:nth-of-type(1) {
    -webkit-transform: translateY(20px) rotate(-225deg);
    transform: translateY(14px) rotate(-225deg);
  }
  .active span:nth-of-type(2) {
    -webkit-transform: translateY(0) rotate(225deg);
    transform: translateY(0) rotate(225deg);
  }
  .active span:nth-of-type(3) {
    opacity: 0;
    -webkit-transform: translateY(0) rotate(-225deg);
    transform: translateY(0) rotate(-225deg);
  }
}

.main-visual__bg {
  position: fixed;
  //position: absolute;
  top: -50%;
  left: -62vw;
  transition: .7s ease;
  width: 180%;
  height: 100%;
  border-radius: 50%;
  background: #F6920D 0% 0% no-repeat padding-box;
  z-index: -5;
}

.catch-copy {
  font-family: 'Noto Serif JP', serif;
  position: fixed;
  //position: absolute;
  margin: 35% 0 0 5vw;
  text-align: left;
  font-size: 2.0rem;
  line-height: 2;
  letter-spacing: 0;
  color: #fff;
  z-index: -5;
  p {
    font-feature-settings: "palt";
  }
}

.gnav {
  position: fixed;
  z-index: 11;
  opacity: 0;
  left: -90vw;
  transition: .7s ease;
  .gnav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    margin-top: 10vw;
    li {
      margin-left: 20vw;
      a {
        text-align: center;
        text-decoration: none;
        font-size: 15vw;
        font-family: 'Oswald', sans-serif;
        color: #000;
      }
    }
  }
}

.gnav_open {
  opacity: 1;
  display: block;
  transform: translateX(90vw);
  -webkit-transform: translateX(90vw);
  transition: .7s ease;
}

.main-visual {
  .main-visual_logo {
    position: fixed;
    //position: absolute;
    height: 80vw;
    top: 50%;
    left: 50%;
    transform : translateX(-50%);
    z-index: -5;
  }
  .main-visual_logo_text {
    width: 100vw;
    position: fixed;
    //position: absolute;
    top: 90%;
    z-index: -5;
  }
}

.about, .activity, .contact {
  background: #fff;
  z-index: 5;
  padding: 0 7vw;
  position: relative;
}

.works, .member {
  background: #F6920D;
  z-index: 5;
  padding: 0 7vw;
  position: relative;
}

.about__title, .activity__title, .contact__title {
  font-family: 'Oswald', sans-serif;
  padding-top: 20vw;
  font-size: 26vw;
  letter-spacing: -3px;
  color: #F6920D;
}

.works__title, .member__title, {
  font-family: 'Oswald', sans-serif;
  font-size: 26vw;
  padding-top: 20vw;
  letter-spacing: -3px;
  color: #000;
}

.about {
  //height: 280vw;
  .about__title-2 {
    padding: 18vw 0 12vw;
    font-size: 6vw;
    line-height: 1.5;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .about__text {
    font-size: 4vw;
    line-height: 1.9;
    font-family: 'Noto Sans JP', sans-serif;
  }

  .about__img {
    box-shadow: -5px 5px 6px #00000029;
    border-radius: 10px;
    height: 36vh;
    margin: 13vh 0 15vh 15vw;
  }
  .triangle1 {
    width: 70vw;
    position: absolute;
    left: -13vw;
    top: 62vh;
    z-index: -1;
  }
}

.works {
  //height: 365vw;
  font-family: 'Noto Sans JP', sans-serif;
  .works__text {
    padding-top: 10vh;
    font-size: 4vw;
    line-height: 1.9;
  }
  .works__contents-block {
    margin: 3vh 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .works__contents {
      width: 70vw;
      height: 70vw;
      margin-top: 5vh;
      .works__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
      &:last-child {
        margin-bottom: 15vh;
      }
    }
  }
}

.activity {
  //height: 585vw;
  font-family: 'Noto Sans JP', sans-serif;
  .activity__title-2 {
    padding: 10vh 0 8vh;
    font-size: 6vw;
  }
  .activity__text {
    font-size: 4vw;
    line-height: 1.9;
  }
  .activity__article {
    display: none;
    margin-top: 10vh;
    border: 1px solid #999;
    border-radius: 20px;
    img {
      width: 86vw;
      border-radius: 20px 20px 0 0;
      object-fit: cover;
    }
    span {
      display: block;
      color: #777;
      margin: 1.5vh 0 1vh;
      padding: 0 4vw;
    }
    .activity__article-title {
      font-size: 5vw;
      margin: 2vh 0 1.5vh;
      padding: 0 4vw;
    }
    .activity__article-text {
      line-height: 1.6;
      padding: 0 4vw;
      margin-bottom: 2vh;
    }
  }
  .more {
    width: 45vw;
    margin: 5vh 0 0;
    padding-bottom: 10vh;
    .more__text2 {
      display: block;
      font-size: 6vw;
    }
    .more__btn {
      width: 100%;
      display: block;
      text-align: center;
      text-decoration: none;
      border: 2px solid #F6920D;
      padding: 2vh 0 2.5vh;
      border-radius: 20px;
      .more__text {
        color: #F6920D;
        font-size: 7vw;
        &::after {
          content: "";
          display: inline-block;
          margin-left: 5vw;
          margin-bottom: 0.5vh;
          width: 4vw;
          height: 2vh;
          border: 3px solid;
          border-color:  transparent transparent #F6920D #F6920D;
          border-radius: 5px;
          transform: rotate(-45deg);
        }
      }
    }
  }
}

.triangle2 {
  position: absolute;
  top: 17vh;
  right: -10vw;
  width: 65vw;
  z-index: -1;
}

.member {
  //height: 420vw;
  font-family: 'Noto Sans JP', sans-serif;
  .mamber__text {
    padding-top: 8vh;
    font-size: 4vw;
    line-height: 1.9;
  }
  .member__img-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 15vh;
    .member__img {
      width: 40vw;
      border-radius: 20%;
      margin-top: 5vh;
    }
  }
}

.contact {
  //height: 420vw;
  font-family: 'Noto Sans JP', sans-serif;
  .contact__text {
    padding: 10vh 0 8vh;
    font-size: 4vw;
    line-height: 1.9;
  }
  .contact__btn {
    width: 86vw;
    margin-bottom: 10vh;
  }
  .contact__mail {
    font-size: 5vw;
    display: block;
    text-align: center;
    margin-bottom: 10vh;
    text-decoration: none;
    color: #F6920D;
    border: 2px solid #F6920D;
    border-radius: 20px;
    padding: 5vw 5vw 7vw;
    &::after {
      content: "";
      display: inline-block;
      margin-left: 1vw;
      margin-top: 1vh;
      margin-bottom: -0.4vh;
      width: 3vw;
      height: 1.5vh;
      border: 3px solid;
      border-color:  transparent transparent #F6920D #F6920D;
      border-radius: 5px;
      transform: rotate(-135deg);
    }
  }
  .twitter-block {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 10vh;
  }
}

.footer {
  position: relative;
  left: -10vw;
  background: #ddd;
  width: 120%;
  .footer__logo {
    border-bottom: 2px solid #aaa;
    margin: 0 7vw 5vh;
    padding-bottom: 2vh;
    .footer__shintaiken-logo {
      width: 90vw;
      margin-top: 5vh;
    }
    .footer__fun-logo {
      width: 70vw;
      margin: 3vh 0 3vh 1vw;
    }
  }
  .copyright {
    display: inline-block;
    margin: 2vh 0 20vh 7vw;
  }
}
